<div class="grid gap-3 grid-cols-5 h-full">
	<ng-container *ngFor="let card of cards">
		<div
			*ngIf="spectator"
			(click)="selectWord.emit(card.word)"
			class="rounded cursor-pointer text-lg flex flex-col text-white relative"
			[class.bg-blue-600]="card.color === 'blue'"
			[class.bg-red-600]="card.color === 'red'"
			[class.bg-black]="card.color === 'black'"
			[class.bg-stone-400]="card.color === 'neutral'"
		>
			<div class="flex items-center justify-center flex-1">
				<p>{{card.word}}</p>
			</div>
			<div
				*ngIf="card.faceUp"
				class="absolute left-0 right-0 top-0 bottom-0 opacity-70 bg-white"
			></div>
		</div>
		<div
			*ngIf="!spectator"
			(click)="selectWord.emit(card.word)"
			class="rounded cursor-pointer flex flex-col text-4xl"
		>
			<div
				class="rounded-t flex items-center justify-center flex-1 bg-gray-100"
				[class.bg-black]="card.faceUp && card.color === 'black'"
				[class.text-stone-500]="card.faceUp && card.color === 'neutral'"
				[class.text-blue-700]="card.faceUp && card.color === 'blue'"
				[class.text-red-700]="card.faceUp && card.color === 'red'"
				[class.text-black]="!card.faceUp"
			>
				<p>{{card.word}}</p>
			</div>
			<hr>
			<div
				class="rounded-t flex items-center justify-center flex-1 rotate-180 text-white"
				[class.bg-gray-700]="!card.faceUp"
				[class.bg-blue-600]="card.faceUp && card.color === 'blue'"
				[class.bg-red-600]="card.faceUp && card.color === 'red'"
				[class.bg-black]="card.faceUp && card.color === 'black'"
				[class.bg-stone-400]="card.faceUp && card.color === 'neutral'"
			>
				<p>{{card.word}}</p>
			</div>
		</div>
	</ng-container>
</div>
