<h2 class="text-4xl">Make your choice:</h2>

<a
	class="inline-block m-3 p-3 text-2xl bg-gray-100 rounded"
	[routerLink]="['..', 'board']"
	queryParamsHandling="merge"
>
	Central board
</a>
<a
	class="inline-block m-3 p-3 text-2xl bg-gray-100 rounded"
	[routerLink]="['..', 'controller']"
	queryParamsHandling="merge"
>
	Controller board
</a>
<a
	class="inline-block m-3 p-3 text-2xl bg-gray-100 rounded"
	[routerLink]="['..', 'controller']"
	queryParamsHandling="merge"
	[queryParams]="{color: 'blue'}"
>
	Controller board blue
</a>
<a
	class="inline-block m-3 p-3 text-2xl bg-gray-100 rounded"
	[routerLink]="['..', 'controller']"
	queryParamsHandling="merge"
	[queryParams]="{color: 'red'}"
>
	Controller board red
</a>
