<header class="flex justify-between w-screen border-b-2 mb-5">
	<h1>
		<a class="block p-3 text-4xl" routerLink="/">Code Names</a>
	</h1>
	<nav>
		<ul class="h-full flex items-center px-2">
			<li>
				<a class="block btn text-lg" routerLink="/">Create new game</a>
			</li>
		</ul>
	</nav>
</header>
<main>
	<router-outlet></router-outlet>
</main>
