<ng-container *ngIf="viewModel$ | async as viewModel">
	<div class="flex flex-col h-screen">
		<p>Generate a random board, you can click words to replace them</p>
		<form class="grid gap-2 grid-cols-2 mb-5">
			<button
				class="btn"
				type="button"
				(click)="generateBoard()"
			>
				Generate random board
			</button>
			<button
				[class.btn]="viewModel.cards"
				[class.btn-disabled]="!viewModel.cards"
				[disabled]="!viewModel.cards"
				type="button"
				(click)="startGame(viewModel.cards!)"
			>
				Start game
			</button>
		</form>

		<div
			app-board
			class="flex-1"
			*ngIf="viewModel.cards as cards"
			[cards]="cards"
			(selectWord)="replaceWord(cards, $event)"
			[spectator]="false"
		></div>
	</div>
</ng-container>
