<ng-container
	*ngIf="viewModel$ | async as color"
>
	<div class="flex flex-col h-screen">
		<div
			class="flex flex-col justify-center items-center flex-1"
			[class.rotate-180]="upsideDown"
			*ngFor="let upsideDown of [false, true]"
		>
			<div>
				<h2 *ngIf="color === 'black'" class="text-4xl">
					Someone picked the black card!
				</h2>

				<h2 *ngIf="color !== 'black'" class="text-4xl">
					The {{color}} team won!
				</h2>

				<a
					class="inline-block m-3 p-3 text-2xl bg-gray-100 rounded"
					[routerLink]="['..', '..', 'game-setup']"
					queryParamsHandling="merge"
				>
					Play another game
				</a>
			</div>
		</div>
	</div>
</ng-container>
